<div class="row">
  <div class="col-md-4 mx-auto">
    <div class="card">
      <div class="card-body">
        <h4 class="text-center pb-4 pt-3">
          Add here a New Speaker
        </h4>
        <form (submit)="onSubmit()">
          <div class="form-group">
            <label for="name">Name : </label>
            <input type="text" name="name" [(ngModel)]="name" class="form-control" required>
          </div>
          <div class="form-group">
            <label for="profilePic">ProfilePic : </label>&nbsp;&nbsp;
            <input type="text" name="profilePic" [(ngModel)]="profilePic" class="form-control" required>
          </div>
          <div class="form-group">
            <label for="twitter">Twitter : </label>&nbsp;&nbsp;
            <input type="text" name="twitter" [(ngModel)]="twitter" class="form-control" required>
          </div>
          <div class="form-group">
            <label for="about">About : </label>&nbsp;&nbsp;
            <input type="text" name="about" [(ngModel)]="about" class="form-control" required>
          </div>
          <div class="form-group">
            <label for="location">Location : </label>&nbsp;&nbsp;
            <input type="text" name="location" [(ngModel)]="location" class="form-control" required>
          </div>
          <div class="form-group">
            <label for="email">Email : </label>&nbsp;&nbsp;
            <input type="email" name="email" [(ngModel)]="email" class="form-control" required>
          </div>
          <div class="form-group">
            <label for="phone">Phone : </label>&nbsp;&nbsp;
            <input type="text" name="phone" [(ngModel)]="phone" class="form-control" required>
          </div>
        
          <input type="submit" value="Submit" class="btn btn-primary btn-block">
        </form>
      </div>
    </div>
  </div>
</div>